#wrapper{

    width: 970px;
    height: 1000px;
}

#pokemon{

    width: 500px;
    height: 400px;
    border: solid 1px black;
    display: inline-block;
    vertical-align: top;
}

#pokedex{

    width: 350px;
    height: 500px;
    margin: 0px 0px 0px 40px;
    border: solid 6px red;
    display: inline-block;
    vertical-align: top;
}
h3{
    margin: 0px 0px 0px 15px;
}

h4{
    margin: 0px 0px 0px 15px;
}